- if defined? @message
  %p= @message

= haml(:'partials/form')

= haml(:'partials/unsubscribe')


- if current_subscribers
  %ol
    - current_subscribers.each do |s|
      %li
        = "#{s.name} &lt;#{s.email}&gt;"
        %a{href: "/unsubscribe?email=#{s.email}"} Unsubscribe

