= haml(:'partials/form', layout: false)
= haml(:'partials/unsubscribe', layout: false)


- if current_subscribers
  %ol
    - current_subscribers.each do |s|
      %li
        = "#{s.name} &lt;#{s.email}&gt;"
        %a{href: "/unsubscribe?email=#{s.email}"} Unsubscribe

